{{!-- Action qual rota esse form deve enviar os dados! --}}

<form action="/add" method="POST">
    <p> Título </p>
    <input type="text" name="titulo">
    <p> Conteúdo </p>
    <textarea name="conteudo">

    </textarea>
    <button type="submit"> Clique aqui gay</button>
</form>